aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
async-timeout
attrs
blinker
certifi
cffi
charset-normalizer
click
cryptography
dashscope
exceptiongroup
fastapi
Flask
flask-cors
frozenlist
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
opencv-python-headless
packaging
pydantic
pydantic-core
pyjwt
python-multipart
PyYAML
qrcode
requests
six
sniffio
typing-extensions
urllib3
uvicorn
Werkzeug
zipp
